body{
    background:rgb(233, 232, 232);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header_div{
    background: rgb(218, 0, 44);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color: darkgray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: dimgray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: floralwhite;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 148, 149); 
}